.EventsOfTheDay {
  /* display: flex;
  flex-direction: column; */
  position: relative;
}

.EventsOfTheDay-Label {
  width: 100%;
  text-align: center;
  /* background: #ff0; */
  font-family: VodafoneRgBd, sans-serif;
  color: #5b5b5b;
}

.EventsOfTheDay-Fold-Btn {
  width: 4em;
  height: 1.5em;
  font-size: 1em;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  background-color: none;
  border: none;
  font-family: VodafoneRg, sans-serif;
  background-color: rgba(91, 91, 91, 0.1);
}
.EventsOfTheDay-Fold-Btn.unfolded {
  border-left: 2px solid red;
}
.EventsOfTheDay-Fold-Btn.folded {
  border-bottom: 2px solid red;
}
.EventsOfTheDay-ul {
  padding-inline-start: 0;
}
