.EventsTab {
  width: inherit;
  overflow-wrap: break-word;
  position: relative;
}

.Users-list {
  padding-inline-start: 0;
  margin-block-start: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
