.NavTabs {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.NavLink {
  text-align: center;

  color: #d80027;

  font-family: VodafoneRg, sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none;
  width: 33%;
  text-align: center;
  padding: 1em;
}
